/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; 
  color: #333;
}

/* HEADER */
header {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

header p {
  margin-top: 8px;
  font-size: 16px;
}

/* SECTIONS */
section {
  padding: 30px 60px;
}

h2 {
  margin-bottom: 15px;
  color: #2c3e50;
}

/* ABOUT */
p {
  line-height: 1.6;
  margin-bottom: 10px;
}

/* SKILLS */
.skills-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.skills-list span {
  background-color: #e3f2fd;
  padding: 10px 16px;
  border-radius: 20px;
  font-size: 14px;
}

/* PROJECTS */
.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

.card h3 {
  margin-bottom: 10px;
  color: #1f3a5f;
}

.tech {
  font-size: 14px;
  color: #555;
}

/* CONTACT */
.contact a {
  color: #1e88e5;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}
.resume-btn{
display: inline-block;
margin-top:15px;
padding:10px 20px;
background-color: #1e88e5;
color: rgb(15, 14, 14);
text-decoration: none;
border-radius: 5px;
font-size: 14px;
}
.resume-btn:hover {
background-color:#aabacc;
}